repos:
  - repo: local
    hooks:
      - id: black
        name: black (formateo)
        entry: black
        language: system
        types: [python]

      - id: isort
        name: isort (orden de imports)
        entry: isort
        language: system
        types: [python]

      - id: flake8
        name: flake8 (linting)
        entry: flake8
        language: system
        types: [python]
